h1 {
  color: lightblue;
}
.intro {
 float: center;
 margin-left: auto;
 margin-right: auto;
}

.image-self {
  display: block;
  width: 25%;
  height: 25%;
  border-radius: 50%
}

.intro-blurb {
  float: top;
  text-align: center;
  
}

/* Body + Card Design */

body {
  background-color: #fea49f;
  color: white;
}

.body-about .card {
  background-color: #101357;
  margin: 30px;
}

.body-background .card {
  background-color: #fbaf08;
  margin: 30px;
}

.body-projects .card {
  background-color: #00a0a0;
  margin: 30px;
}

.body-contact .card {
  background-color: #007f4f;
  margin: 30px;
}